 /* *{
    margin: 0%;
    padding: 0%;
    width: 1440px; */

body{
position: relative;
    width: 1440px;
    height: 7365px;

    /* Background */

    background: #FAF8FC;
}
.header{
display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 100px 0px;
    gap: 10px;

    position: absolute;
    width: 1440px;
    height: 104px;
    left: 0px;
    top: 7px;

    
}
.qrcode1{
    width: 140px;
    height: 30px;
    
    background: url(qrcode);
    
        /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 90px;
    /* position: absolute; */
    width: 160px;
    height: 52px;
    left: 90px;
    top: 6px;
    
        /* Primary/1/main */
    
    background: #4B296B;
    border-radius: 8px;
}
.top{
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 172px;
    
        width: 1240px;
        height: 64px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    
}
.begin{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px 110px 0px 0px;
gap: 40px;

width: 928px;
height: 64px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
a{
    text-decoration: none;
    color: #070508;
}
.undraw{
    position: absolute;
    width: 543px;
    height: 440px;
    left: 767px;
    top: 252px;
}
.business{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0px;

    position: absolute;
    width: 522px;
    height: 374px;
    left: 100px;
    top: 251px;
}

.butter{
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 10px;

    position: absolute;
    width: 240px;
    height: 52px;
    left: 103px;
    top: 640px;

    /* Primary/1/main */

    background: #4B296B;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
        /* identical to box height, or 150% */
    
    letter-spacing: 0.005em;
    
        /* White */
    
    color: #FFFFFF;
    
    
        /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0
}
h2{
    width: 522px;
        height: 272px;
    
        /* Heading Text 6 */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 68px;
        line-height: 88px;
        /* or 129% */
    
        letter-spacing: 0.01em;
    
        /* Neutrals/9 */
    
        color: #070508;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.h1{
    width: 517px;
        height: 90px;
    
        /* large body text */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */
    
        letter-spacing: 0.005em;
    
        /* Neutrals/1 */
    
        color: #0D0A0F;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}

.undraw4{
    width: 580px;
        height: 468px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.how{
    /* Frame 101 */
    
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 140px;
        gap: 64px;
    
        position: absolute;
        width: 1440px;
        height: 732px;
        left: 0px;
        top: 832px;
    
        /* Primary/2 */
    
        background: #DBD4E1;
}
.choose{
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 76px;
    
        width: 1160px;
        height: 467px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.choose1{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
    
        width: 504px;
        height: 134px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
h3.ch{
    width: 389px;
        height: 24px;
    
        /* Caption text medium This is the smallest size of text needed in this website and i hope thats ohkay by all of you bold */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 24px;
        /* identical to box height, or 86% */
    
        letter-spacing: 0.005em;
    
        /* Primary/1/main */
    
        color: #4B296B;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.fill{
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 80px;
    
        position: absolute;
        width: 1140px;
        height: 520px;
        left: 150px;
        top: 1664px;
    
        /* Primary/1/main */
    
        border-bottom: 1px solid #4B296B;
}
.undraw3{
    width: 520px;
    height: 518px;
    
    
        /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
/* .fill1{
display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 540px;
    height: 134px;


    /* Inside auto layout */
/* 
    flex: none;
    order: 1;
    flex-grow: 0;
} */ 
.dp{
box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 80px;

    position: absolute;
    width: 1140px;
    height: 520px;
    left: 308px;
    top: 2307px;

    /* Primary/1/main */

    border-bottom: 1px solid #4B296B;
}
.undraw1{
    width: 544px;
        height: 520px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.downlo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    
    width: 517px;
    height: 152px;
    
    
        /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.gt{
    width: 255px;
        height: 42px;
    
        /* Caption text medium This is the smallest size of text needed in this website and i hope thats ohkay by all of you bold */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        /* identical to box height, or 150% */
    
        letter-spacing: 0.005em;
    
        /* Primary/1/main */
    
        color: #4B296B;
}
.gtw{
    width: 517px;
        height: 90px;
    
        /* large body text */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */
    
        letter-spacing: 0.005em;
    
        /* Neutrals/1 */
    
        color: #0D0A0F;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}

.features{
position: absolute;
    width: 1440px;
    height: 604px;
    left: 0px;
    top: 2882px;

    /* Primary/7 */

    background: #3F2259;
    
}
.featw{
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 34px;
    
        position: absolute;
        width: 427px;
        height: 114px;
        left: 507px;
        top: 78px;
}
.featwh3{
    width: 177px;
        height: 60px;
    
        /* Heading Text 1 */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 60px;
        /* identical to box height, or 150% */
    
        letter-spacing: 0.01em;
    
        /* White */
    
        color: #FFFFFF;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.featwp{
    width: 427px;
    height: 30px;
    
        /* large body text */
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
     line-height: 30px;
        /* identical to box height, or 150% */
    
    letter-spacing: 0.005em;
    
        /* White */
    
    color: #FFFFFF;
    
    
        /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.feats{
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 96px;
    
        position: absolute;
        width: 1141px;
        height: 180px;
        left: 150px;
        top: 309px;
}
.frame106{
    width: 100px;
        height: 100px;
    
        /* White */
    
        background: #FFFFFF;
        border-radius: 50px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.digital{
    width: 301px;
    height: 48px; 
    
        /* /* small body text */
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
        /* or 150% */
    
    text-align: center;
    letter-spacing: 0.005em;
    
        /* White */
    
    color: #FFFFFF;
    
    
        /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.digit{
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 32px;
    
        width: 301px;
        height: 180px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.built{
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 32px;
    
        width: 295px;
        height: 180px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.frame108{
    width: 100px;
        height: 100px;
    
        /* White */
    
        background: #FFFFFF;
        border-radius: 50px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.track{
    width: 295px;
        height: 48px;
    
        /* small body text */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
    
        text-align: center;
        letter-spacing: 0.005em;
    
        /* White */
    
        color: #FFFFFF;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.easy{
display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 353px;
    height: 180px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
.frame107{
width: 100px;
    height: 100px;

    /* White */

    background: #FFFFFF;
    border-radius: 50px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.info{
    width: 353px;
    height: 48px;
    
        /* small body text */
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
        /* or 150% */
    
    text-align: center;
    letter-spacing: 0.005em;
    
        /* White */
    
    color: #FFFFFF;
    
    
        /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.grow{
display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 32px;

    position: absolute;
    width: 1240px;
    height: 738px;
    left: 100px;
    top: 700px;

    /* Background */

    background: #FAF8FC;
}
.pool{
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 0px;
        gap: 112px;
    
        width: 1174px;
        height: 498px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.palm{
    width: 512px;
        height: 458px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.pat{
display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 392px;
    height: 120px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.text{
width: 552px;
height: 307px;


    /* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0
}
.nan{
    width: 248px;
        height: 42px;
    
        /* Caption text medium This is the smallest size of text needed in this website and i hope thats ohkay by all of you bold */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        /* identical to box height, or 150% */
    
        letter-spacing: 0.005em;
    
        /* Primary/1/main */
    
        color: #4B296B;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.main{
    width: 552px;
        height: 120px;
    
        /* large body text */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */
    
        letter-spacing: 0.005em;
    
        /* Neutrals/1 */
    
        color: #0D0A0F;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.submit{
    /* display: flex;
        flex-direction: row; */
        justify-content: center;
        align-items: center;
        padding: 16px 8px;
        gap: 10px;
        color: #FFFFFF;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    
        position: absolute;
        width: 240px;
        height: 52px;
        left: 70px;
        /* top: 204px; */
    
        /* Primary/1/main */
    
        background: #4B296B;
        border-radius: 8px;
}
.free{
display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 112px;
    gap: 80px;

    position: absolute;
    width: 1440px;
    height: 908px;
    left: 0px;
    top: 1990px;

    /* Primary/1/main */

    background: #4B296B;
}
.start{
display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 560px;
    height: 114px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.llo{
    font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 60px;
        /* identical to box height, or 150% */
    
        letter-spacing: 0.01em;
    
        /* White */
    
        color: #FFFFFF;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.nno{
    width: 513px;
        height: 30px;
    
        /* large body text */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */
    
        letter-spacing: 0.005em;
    
        /* White */
    
        color: #FFFFFF;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.frame100{
position: absolute;
    width: 1440px;
    height: 908px;
    left: 0px;
    top: 1500px;
}
.lady{
display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 112px;

    position: absolute;
    width: 1192px;
    height: 575px;
    left: 124px;
    top: 5323px;
}
.moni{
display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 390px;
    height: 114px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.idle{
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 38px;
    
        width: 692px;
        height: 288px;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.bot{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 8px;
        gap: 10px;
    
        width: 240px;
        height: 52px;
    
        /* Primary/1/main */
    
        background: #4B296B;
        border-radius: 8px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 2;
        flex-grow: 0;
        /* large body text */
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
            /* identical to box height, or 150% */
        
        letter-spacing: 0.005em;
        
            /* White */
        
        color: #FFFFFF;
}
.rat{
display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 1216px;
    height: 624px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.shoe{
width: 384px;
    height: 624px;

    /* White */

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(232, 232, 232, 0.25);
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.seventy{
position: absolute;
    width: 352px;
    height: 254px;
    left: 16px;
    top: 13px;

    background: url(women-heeled-shoes.jpg);
    border-radius: 8px 8px 0px 0px;
}
.plg{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
    
        position: absolute;
        width: 348px;
        height: 309px;
        left: 16px;
        top: 291px;
}
.hs{
    width: 161px;
        height: 48px;
    
        /* Caption text large This is the smallest size of text needed in this website and i hope thats ohkay by all of you bold */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        /* identical to box height, or 150% */
    
        letter-spacing: 0.005em;
    
        /* Primary/1/main */
    
        color: #4B296B;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.bpl{
    width: 348px;
        height: 54px;
    
        /* regular small base text */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */
    
        letter-spacing: 0.005em;
    
        /* Neutrals/1 */
    
        color: #0D0A0F;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.glo{
    width: 348px;
        height: 54px;
    
        /* regular small base text */
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */
    
        letter-spacing: 0.005em;
    
        /* Neutrals/1 */
    
        color: #0D0A0F;
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
}
.finder{
    width: 384px;
        height: 624px;
    
        /* White */
    
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(232, 232, 232, 0.25);
        border-radius: 16px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
}
.fresh{
    width: 384px;
        height: 624px;
    
        /* White */
    
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(232, 232, 232, 0.25);
        border-radius: 16px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 2;
        flex-grow: 0;
}