.more {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px;
    gap: 50px;

    width: 1174px;
    height: 498px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.zam {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 32px;

    position: absolute;
    width: 1240px;
    height: 738px;
    left: 100px;
    top: 352px;

    /* Background */

    background: #FAF8FC;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 392px;
    height: 120px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 392px;
    height: 120px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.psite {
    width: 267px;
    height: 36px;

    /* small caption */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    letter-spacing: 0.005em;

    /* Neutrals/1 */

    color: #0D0A0F;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 552px;
    height: 284px;
    left: 0px;
    top: 0px;
}

.mybox {
    width: 248px;
    height: 42px;

    /* Caption text medium This is the smallest size of text needed in this website and i hope thats ohkay by all of you bold */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height, or 150% */

    letter-spacing: 0.005em;

    /* Primary/1/main */

    color: #4B296B;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.debox {
    width: 552px;
    height: 120px;

    /* large body text */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    letter-spacing: 0.005em;

    /* Neutrals/1 */

    color: #0D0A0F;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 10px;

    position: absolute;
    width: 240px;
    height: 52px;
    left: 0px;
    top: 204px;

    /* Primary/1/main */

    background: #4B296B;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.005em;

}

.undraw2 {
    width: 512px;
    height: 458px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}